<form class="les-lames sheet actor" autocomplete="off">
  <header class="sheet-header">
    <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Nom du personnage"/></h1>
  </header>

  <section class="sheet-body">
    <p>Fiche de personnage à compléter…</p>
  </section>
</form>
